{% extends 'frontend/baseNav.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger mb-2" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="midpost">
    <h2>Naiive Baye <span class="badge badge-secondary">Classification</span></h2>
        <div class="input-group mb-3">
            {{ form }}
            <div class="input-group-append">
            <button class="btn btn-outline-dark" type="submit" id="button-addon2">GO</button>
            </div>
        </div>
    </div>
</form>


{% endblock %}